{{ define "main" }}
    <div class="content">
        {{ range .Data.Pages.ByDate.Reverse }}
            <figure class="tile">
                <a href="{{ .Permalink }}" class="tile__link">
                  <img src="{{ .Params.albumthumb }}" alt="{{ .Title }}" class="tile__image" />
                    <figcaption class="tile__caption">
                        <h2 class="tile__title">{{ .Title }}<span class="tile__sub-title"></span></h2>
                        <p class="tile__tagline">This is the tagline</p>
                    </figcaption>
                </a>
            </figure>
        {{ end }}
    </div>
{{ end }}