{{ define "title" }}
  {{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div id="main" class="content">
    <div class="row">
      <div class="col">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
      <div class="col">

      </div>
    </div>
    {{ if .Params.laptop }}
      <div class="row">
        {{ if .Params.ipad }}
          <img src="{{ .Params.ipad }}" alt="{{ .Title }} iPad display" class="image image--ipad">
        {{ end }}
        {{ if .Params.iphone }}
          <img src="{{ .Params.iphone }}" alt="{{ .Title }} iPhone display" class="image image--iphone">
        {{ end }}
        <img src="{{ .Params.laptop }}" alt="{{ .Title }} laptop display" class="image image--laptop">
      </div>
    {{ end }}
  </div>
{{ end }}