// sass-lint:disable no-color-keywords

// Colours
// ----------

// Grayscale
$white:                 #fff;
$black-10:              darken($white, 10%);
$black-20:              darken($white, 20%);
$black-30:              darken($white, 30%);
$black-40:              darken($white, 40%);
$black-50:              darken($white, 50%);
$black-60:              darken($white, 60%);
$black-70:              darken($white, 70%);
$black-80:              darken($white, 80%);
$black-90:              darken($white, 90%);
$black:                 #000;

// Green Scale
$green:                 #94a05e;
$green-v-light:         lighten(desaturate(adjust-hue($green, .6572), 16.5799), 11.9608);
$green-light:           lighten(desaturate(adjust-hue($green, .7792), 9.8297), 8.0392);
$green-dark:            darken(desaturate(adjust-hue($green, 1.0909), .2111), 11.7647);
$green-v-dark:          darken(desaturate(adjust-hue($green, -.9091), .1027), 31.7647);

// Blue Scale
$blue:                  #46576e;
$blue-v-light:          lighten(desaturate(adjust-hue($blue, -.2143), 67.8768), 44.902);
$blue-light:            lighten(desaturate(adjust-hue($blue, -.4701), 10.4607), 24.5098);
$blue-dark:             lighten(desaturate(adjust-hue($blue, .1667), .1658), 4.1176);
$blue-v-dark:           darken(desaturate(adjust-hue($blue, -.5), .4831), 8.2353);

// Maroon Scale
$maroon:                #7b5e5a;
$maroon-v-light:        lighten(desaturate(adjust-hue($maroon, -.4803), 16.6283), 25.8824);
$maroon-light:          lighten(desaturate(adjust-hue($maroon, .8354), .2517), 4.3137);
$maroon-dark:           darken(desaturate(adjust-hue($maroon, 1.958), .0168), 8.8235);
$maroon-v-dark:         darken(desaturate(adjust-hue($maroon, .2273), .1933), 21.7647);

// Orange Scale
$orange:                #ca9c66;
$orange-v-light:        lighten(desaturate(adjust-hue($orange, .1), 32.5374), 11.3725);
$orange-light:          lighten(desaturate(adjust-hue($orange, -.0106), 19.121), 7.6471);
$orange-dark:           darken(desaturate(adjust-hue($orange, .1926), 15.7502), 11.1765);
$orange-v-dark:         darken(desaturate(adjust-hue($orange, .6612), 16.0934), 30);

// Social
$linkedin:              #0976b4;
$twitter:               #55acee;
$lastfm:                #c3000d;
$flickr:                #ff0084;
$facebook:              #3b5998;
$codepen:               $white;
$github:                #800080;
$github2:               #999;
$behance:               #1769ff;
$vimeo:                 #1ab7ea;
$googleplus:            #dd4b39;
$tumblr:                #35465c;
$instagram:             #3f729b;
$dropbox:               #007ee5;
$evernote:              #7ac142;
$soundcloud:            #f80f80;
$stackoverflow:         #f4842c;
$npm:                   #cb3837;

// Skills
$css:                   #008dd2;
$git:                   $black-50;
$html:                  #f16529;
$javascript:            #f0db4f;
$terminal:              $black;
$illustrator:           #f5901f;
$photoshop:             #00c8ff;


// Global
// ---------

$global-font-size:      100%;
$global-lineheight:     1.5;
$global-weight-normal:  normal;
$global-weight-bold:    bold;
$global-duration:       .4s;
$body-background:       $black-70;
$body-font-colour:      $black-50;
$body-font-family:      'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-border-box:       true;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;


// Base Typography
// ------------------

$header-font-family:    'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-x-light-font-weight: 200;
$header-light-font-weight: 300;
$header-font-style:     normal;
$font-family-monospace: $font-family-monospace;
$header-color:          $black-50;
$header-lineheight:     1.4;
$header-letter-spacing: .1em;
$header-margin-bottom:  .5rem;
$h1-font-size:          1.602em;
$h2-font-size:          1.424em;
$h3-font-size:          1.266em;
$h4-font-size:          1.125em;
$h5-font-size:          1em;
$h6-font-size:          .889em;
$x-small-font-size:     75%;
$small-font-size:       87.5%;
$large-font-size:       112.5%;
$x-large-font-size:     125%;
$paragraph-lineheight:  1.6;
$paragraph-margin-bottom: 1rem;
$anchor-color:          $orange;
$anchor-color-hover:    $orange-dark;
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;
$hr-width:              100%;
$hr-border:             .0625em solid $black-50;
$hr-margin:             1.25rem auto;
$list-lineheight:       $paragraph-lineheight;
$list-margin-bottom:    $paragraph-margin-bottom;
$list-style-type:       disc;
$list-style-position:   outside;
$list-side-margin:      1.25rem;
$list-nested-side-margin: 1.25rem;

// Media Queries
// ----------------

// Extra small screen / phone
$screen-xs:             30em; // 480px

// Small screen / tablet
$screen-sm:             48em; // 768px

// Medium screen / desktop
$screen-md:             62em; // 992px

// Large screen / wide desktop
$screen-lg:             75em; // 1200px

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:         ($screen-sm - 1);
$screen-sm-max:         ($screen-md - 1);
$screen-md-max:         ($screen-lg - 1);

$phone:                 'only screen and (max-width: #{$screen-xs - 1})'; //- 480px
$mobile:                'only screen and (min-width: #{$screen-xs})'; //480px
$tablet:                'only screen and (min-width: #{$screen-sm})'; //768px
$desktop:               'only screen and (min-width: #{$screen-md})'; //992px
$screen:                'only screen and (min-width: #{$screen-lg})'; //1200px

// Buttons
// ----------

$button-font-family:    $header-font-family;
$button-letter-spacing: $header-letter-spacing;
$button-color:          $white;
$button-background-color: $orange;
$button-background-color-hover: $orange-dark;
$button-bordered-color-hover: $orange-dark;
$button-bordered-background-color: transparent;
$button-bordered-background-color-hover: transparent;
$button-border-color: $orange;
$button-border-color-hover: $orange-dark;
$button-border:         .125em solid $button-border-color;
$button-padding:        .75em 2.5em;

// Close
// --------

$close-color:           $black-30;
$close-color-hover:     $white;
$close-width:           4em;
$close-height:          $close-width;

// Header
// ---------

$site-header-height:    4em;
$site-header-width:     100%;
$site-header-background: $black-90;
$site-header-link-color: $black-40;
$site-header-link-color-hover: $white;
$site-header-link-background-hover: $black-80;
$site-header-font-size: $large-font-size;
$site-header-font-family: $header-font-family;
$site-header-line-height:    $site-header-height;
$site-header-text-decoration: none;
$site-header-padding:   0 1.15em;

// Navbar
// ---------

$navbar-font-family:    $header-font-family;
$navbar-font-size:      $small-font-size;
$navbar-font-weight:    $header-x-light-font-weight;
$navbar-item-color:     $black-30;
$navbar-item-color-hover: $white;
$navbar-item-1-background-hover: $maroon;
$navbar-item-1-background-active: $black-80;
$navbar-item-2-background-hover: $blue;
$navbar-item-2-background-active: $black-80;
$navbar-link-padding:   0 1.25em;

// Content
// ----------

$content-width:         75em;

// Panel
// --------

$panel-background:      $black-80;
$panel-padding:         4em;
$panel-width:           $content-width;
$panel-top-position:    $site-header-height;

// Forms
// --------

$form-label-font-family: $header-font-family;;
$form-label-font-size:  $small-font-size;
$form-label-font-weight: $header-x-light-font-weight;
$form-input-font-family: $body-font-family;
$form-input-color:      $black-20;
$form-input-background: $black-70;
$form-input-border-color: $black-70;
$form-input-border-hover: $orange;
$form-input-border:     .125em solid $form-input-border-color;
$form-input-padding:    .75em 1em;
$form-field-spacing:    1.5em;

// Social
// ---------

$social-margin:         2em;
$social-icon-fill:      $black-60;
$social-icon-spacing:   1em;

// Skills
// ---------

$skills-margin:         2em;
$skills-icon-fill:      $black-60;
$skills-range-background: $black-50;
$skills-range-border:   .0625em solid $skills-range-background;
$skills-range-spacing:   1em;
$skills-range-height:    1em;
$skills-range-width:     $skills-range-height;

// Tiles
// --------

$tile-background:
(
  blue: $blue-v-dark,
  green: $green-v-dark,
  maroon: $maroon-v-dark,
  orange: $orange-v-dark,
);
$tile-color:
(
  light: $black-30,
  dark: $black-80,
);
$tile-title-color-hover: $white;
$tile-title-font-size:  $global-font-size;
$title-tagline-color:   $white;
$title-tagline-font-family: $header-font-family;
$title-tagline-font-size: $small-font-size;
$tile-caption-padding:   1.5em;

// Z-index
// ----------

$close-zindex:          40;
$site-header-zindex:    30;
$panel-zindex:          20;
$tile-zindex:           10;

// sass-lint:disable no-color-keywords
