.form {
  margin: 0 0 2em;

  .form__field {
    margin: 0 0 1.3em;

    &.form__field--half {
      width: 100%;

      @media #{$tablet} {
        float: left;
        padding-left: .65em;
        width: 50%;
      }

      &:first-child {
        @media #{$tablet} {
          padding-left: 0;
          padding-right: .65em;
        }
      }
    }
  }

  > .actions {
    margin: 1.5em 0 0;
  }

  label {
    color: $white;
    display: block;
    font-size: .9em;
    font-weight: 300;
    margin: 0 0 1em;
  }

  input {
    &[type='text'],
    &[type='password'],
    &[type='email'],
    &[type='tel'] {
      appearance: none;
      background-color: $black-70;
      border: .125em solid $black-70;
      border-radius: 0;
      color: $black-20;
      display: block;
      font-family: $form-font-family;
      height: 2.75em;
      outline: 0;
      padding: 0 1em;
      text-decoration: none;
      transition: border-color .4s ease;
      width: 100%;

      &:focus {
        border-color: $orange;
      }
    }

    &[type='checkbox'],
    &[type='radio'] {
      appearance: none;
      display: block;
      float: left;
      margin-right: -2em;
      opacity: 0;
      width: 1em;
      z-index: -1;

      & + label {
        color: $black-20;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 300;
        padding-left: 2.4em;
        padding-right: .75em;
        position: relative;
        text-decoration: none;
      }
    }
  }

  select,
  textarea {
    appearance: none;
    background-color: $black-70;
    border: .125em solid $black-70;
    border-radius: 0;
    color: $black-20;
    display: block;
    font-family: $form-font-family;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    transition: border-color .4s ease;
    width: 100%;

    &:focus {
      border-color: $orange;
    }
  }

  select {
    height: 2.75em;
  }

  textarea {
    padding: .75em 1em;
  }
}
