.image {
  max-width: 100%;
  opacity: 1;
  transition: opacity .35s ease-out, visibility .35s;
  visibility: visible;

  .is-loading & {
    opacity: 0;
    transition: none;
    visibility: hidden;
  }
}
