.navbar {
  float: right;

  > .navbar__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar__item {
    display: block;
    float: right;
    padding: 0;

    &:first-child {
      .navbar__link {
        &:hover {
          background-color: $navbar-item-1-background-hover;
        }

        &.active {
          background-color: $navbar-item-1-background-active;
        }
      }
    }

    &:last-child {
      .navbar__link {
        &:hover {
          background-color: $navbar-item-2-background-hover;
        }

        &.active {
          background-color: $navbar-item-2-background-active;
        }
      }
    }

    .navbar__link {
      color: $navbar-item-color;
      display: block;
      font-family: $navbar-font-family;
      font-style: $navbar-font-size;
      font-weight: $navbar-font-weight;
      padding: $navbar-link-padding;
      transition: background-color $global-duration ease, color $global-duration ease;

      &:hover {
        color: $navbar-item-color-hover;

        .icon {
          fill: $navbar-item-color-hover;
        }
      }
    }

    .icon {
      fill: $navbar-item-color;
    }
  }
}
