.panel {
  background: $black-80;
  bottom: auto;
  left: 0;
  overflow-y: auto;
  padding: 2em;
  position: fixed;
  top: calc(4em - 1px);
  transform: translateY(-100vh);
  transition: transform .5s ease;
  width: 100%;
  z-index: 10;

  @media #{$screen} {
    padding: 4em;
  }

  &.active {
    transform: translateY(0);
  }

  > .panel__body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 75em;

    @media #{$desktop} {
      flex-direction: initial;
    }

    > .panel__col {
      margin-left: 0;
      width: 100%;

      &:first-child {
        margin-left: 0;
      }

      @media #{$desktop} {
        margin-left: 3em;
        width: 50%;
      }

      @media #{$screen} {
        margin-left: 4em;
      }
    }
  }

  > .close {
    background-image: url('../icons/cross.svg');
    background-position: 75% 25%;
    background-repeat: no-repeat;
    background-size: 2.5em;
    cursor: pointer;
    height: 5em;
    opacity: .25;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s ease-in-out;
    width: 5em;
    z-index: 40;

    @media #{$screen} {
      background-position: center;
      background-size: 3em;
    }

    &:hover {
      opacity: 1;
    }
  }
}
