.social {
  list-style: none;
  margin-bottom: 2em;
  margin-left: 0;
  padding: 0;

  .social__item {
    display: inline;
    margin-right: 1em;
    padding-left: 0;
  }

  .social__link {
    border-bottom: 0;

    &:hover {
      .icon--npm {
        fill: $npm;
      }

      .icon--github {
        fill: $github2;
      }

      .icon--lastfm {
        fill: $lastfm;
      }

      .icon--linkedin {
        fill: $linkedin;
      }

      .icon--twitter {
        fill: $twitter;
      }
    }
  }

  .icon {
    fill: $black-60;
  }
}
