* {
  &,
  &:before,
  &:after {
    @if ($body-border-box) {
      box-sizing: border-box;
    }
  }
}

html,
body {
  background-color: $body-background;
  color: $body-font-colour;
  font-family: $body-font-family;
  font-size: $global-font-size;
  line-height: $global-lineheight;
}

body {
  padding-top: 4em;

  &.content-active {
    overflow-y: hidden;

    .content,
    .tile-list {
      filter: blur(6px);

      &:after {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }
  }

  &.is-loading {
    .header,
    .content,
    .tile {
      animation: none;
      transition: none;
    }
  }
}

.tile-list {
  display: flex;
  flex-wrap: wrap;
}

.content {
  padding: $panel-padding / 2;
  transform: translateY(0);
  transition: transform 1s ease;

  @media #{$screen} {
    padding: $panel-padding;
  }

  .is-loading & {
    opacity: 0;
    pointer-events: none;
    transform: translateY(2em);
  }

  .content__body {
    margin: 0 auto;
    max-width: $content-width;
  }
}

.global-icons {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
