
* {
  &,
  &:before,
  &:after {
    @if ($body-border-box) {
      box-sizing: border-box;
    }
  }
}

html,
body {
  background-color: $body-background;
}

body {
  color: $body-font-colour;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $global-lineheight;
  padding-top: 4em;

  &.content-active {
    overflow-y: hidden;

    .content,
    .tile-list {
      filter: blur(6px);

      &:after {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }
  }

  &.is-loading {
    .header,
    .content,
    .tile {
      animation: none;
      transition: none;
    }
  }
}

.tile-list {
  display: flex;
  flex-wrap: wrap;
}

.content {
  padding: $panel-padding / 2;
  transition: opacity 1s ease;

  @media #{$screen} {
    padding: $panel-padding;
  }

  .is-loading & {
    opacity: 0;
    pointer-events: none;
  }

  .content__intro {
    margin-bottom: 3em;

    h1 {
      text-align: center;
    }

    .content__link {
      margin-top: 2em;
      text-align: center;
    }

    @media #{$desktop} {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

.global-icons {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visible-mobile,
.visible-desktop {
  display: none;
}

.visible-mobile {
  @media only screen and (max-width: #{$screen-xs-max}) {
    display: block;
  }
}

.visible-desktop {
  @media only screen and (min-width: #{$screen-sm}) {
    display: block;
  }
}
