.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;

  > * {
    fill: inherit;
  }
}

.icon--sm {
  height: .5rem;
  width: .5rem;
}

.icon--md {
  height: 1rem;
  width: 1rem;
}

.icon--lg {
  height: 1.5rem;
  width: 1.5rem;
}
