{{ "<!-- Contact -->" | safeHTML }}
    <section id="contact" class="panel">
        <div class="row">
            <section class="col">
                <h2>{{ with .Site.Params.panelTwo.info.headline }}{{ . | markdownify }}{{ end }}</h2>
                <p>{{ with .Site.Params.panelTwo.info.text }}{{ . | markdownify }}{{ end }}</p>
                <h2>{{ with .Site.Params.panelTwo.social.headline }}{{ . | markdownify }}{{ end }}</h2>
                <ul class="social">
                {{ range .Site.Params.panelTwo.social.links }}
                    <li class="social__item">
                        <a href="{{ .url }}" class="social__link">
                            <span class="social__label sr-only" aria-label="{{ .label }}">{{ .label }}</span>
                            <svg role="img" class="icon icon--{{ .svgIcon }} icon--md">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ .svgIcon }}"></use>
                            </svg>
                        </a>
                    </li>
                {{ end }}
                </ul>
                <p class="copyright small visible-desktop">
                    Copyright &copy; {{ .Now.Year }} {{ with .Site.Params.panelTwo.copyright.text }}{{ . | markdownify }}{{ end }}
                </p>
            </section>
            <section class="col">
                <h2>{{ with .Site.Params.panelTwo.contact.headline }}{{ . | markdownify }}{{ end }}</h2>
                <form method="post" action="//formspree.io/{{ with .Site.Params.panelTwo.contact.realEmail }}{{.}}{{ end }}" class="form" novalidate>
                    <div class="form__field form__field--half">
                        <input type="text" name="name" required data-validation-required-message="{{ with .Site.Params.panelTwo.contact.name.warning }}{{ . | markdownify}}{{ end }}" id="name" placeholder="{{ with .Site.Params.panelTwo.contact.name.text }}{{ .  | markdownify }}{{ end }}" />
                    </div>
                    <div class="form__field form__field--half">
                        <input type="email" name="email" required data-validation-required-message="{{ with .Site.Params.panelTwo.contact.email.warning }}{{ . | markdownify }}{{ end }}" id="email" placeholder="{{ with .Site.Params.panelTwo.contact.email.text }}{{ . | markdownify }}{{ end }}" />
                    </div>
                    <div class="form__field">
                        <textarea name="message" required data-validation-required-message="{{ with .Site.Params.panelTwo.contact.message.warning }}{{ . | markdownify }}{{ end }}" id="message" rows="4" placeholder="{{ with .Site.Params.panelTwo.contact.message.text }}{{ . | markdownify }}{{ end }}"></textarea>
                    </div>
                    <div class="form__field btn-group">
                        <input type="submit" value="{{ .Site.Params.panelTwo.contact.button.submit }}" class="btn" />
                        <input type="reset" value="{{ .Site.Params.panelTwo.contact.button.reset }}" class="btn btn--bordered" />
                    </div>
                </form>
                <p class="copyright small visible-mobile">
                    Copyright &copy; {{ .Now.Year }} {{ with .Site.Params.panelTwo.copyright.text }}{{ . | markdownify }}{{ end }}
                </p>
            </section>
        </div>
        <button class="close">
            <svg role="img" class="icon icon--cross icon--md">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
            </svg>
        </button>
    </section>