<header class="header">
  {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
  {{ $.Scratch.Add "path" .Site.BaseURL }}
  <div class="header__title">
    <a href="{{ .Site.BaseURL }}" class="header__home-link">
      <strong>{{ .Site.Title }}</strong>
    </a>
    {{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
    {{ if ne $element "" }}
    / {{ . | humanize }}
    {{ $.Scratch.Add "path" "/" }}
    {{ end }}
    {{ end }}
  </div>
  {{ partial "navigation.html" . }}

</header>