<script src="{{ .Site.BaseURL }}assets/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/jquery.poptrox.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/util.js"></script>
{{ "<!--[if lte IE 8]>" | safeHTML }}
<script src="{{ .Site.BaseURL }}assets/js/ie/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}
<script src="{{ .Site.BaseURL }}assets/js/main.js"></script>
{{ if .Site.BuildDrafts }}
<script src="{{ .Site.BaseURL }}js/scripts.js"></script>
{{ else }}
<script src="{{ .Site.BaseURL }}js/{{ index .Site.Data.js.hash "scripts.min.js" }}"></script>
{{ end }}